<%= render "shared/header" %>
<%= render "shared/second-header" %>

<div class="main">

  <%# お知らせ %>
  <div class="notice-lists">
    
  </div>

</div>

<%= render "shared/second-footer" %>
<%= render "shared/footer" %>