<%= render "shared/header" %>
<%= render "shared/second-header" %>

<div class="main">
  <div class="notice-wrap">
    <div class ="notice-text">
      <p>インスタグラムを更新しております。</p>
      <p>気になる写真をチェックしてみてください！</p>
    </div>
    <div class="notices">
      <!-- LightWidget WIDGET -->
      <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="http://lightwidget.com/widgets/45bf8019f5335d188b8ccb7ef92b1c65.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
  </div>
</div>

<%= render "shared/second-footer" %>
<%= render "shared/footer" %>