.second-header {
  width: 100%;
}

.top-img {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-contents {
  border-radius: 3px 30px;
  border-top: 2px rgb(255, 139, 139) solid;
  border-bottom: 2px rgb(255, 139, 139) solid;
  border-left: 6px rgb(255, 139, 139) double;
  border-right: 6px rgb(255, 139, 139) double;
  padding: 20px;
  margin: 20px;
  display: grid;
  place-items: center;
}

.top-content {
  width: 390px;
  color: red;
  font-size: 25px;
  font-weight: 900;
  border-bottom: 3px double red;
  text-align: center;
}

.top-text {
  color: black;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.top-text p {
  margin-bottom: 10px;
}

/* ナビゲーション */
.header-nav {
  height: 80px;
  width: 100%;
  border-top: 6px dotted #fadcdb;
  border-bottom: 6px dotted #fadcdb;
}

.nav-btns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.nav-btn {
  color: black;
  font-size: 20px;
  font-weight: 900;
  padding: 0 10px;
  border-bottom: 1px red double;
  text-align: center;
}