.second-footer {
  height: 100px;
  width: 100%;
}

.sf-contents {
  display: flex;
  justify-content: space-around;
}

.sf-adresses {
  margin: 20px 0;
}

.instagram {
  margin: auto 0;
}

.instagram-image {
  height: 55px;
  width: auto;
  margin: auto;
}

.instagram-logo {
  height: 20px;
  width: auto;
}

.sf-logo {
  margin: auto 0;
}

.logo {
  height: 100px;
  width: auto;
}