<%# ロゴ %>
<div class="header">
  <div class="header-logo">
    <%= image_tag '/images/futaba_logo_sub.png', class: 'logo-sub' %>
    <%= image_tag '/images/futaba_logo_main.png', class: 'logo-main' %>
  </div>
  <div class="adresses">
    <div class ="adress">
      <p>福岡県福岡市西区西都市1丁目3-25</p>
      <p>エルガンテブリッサ110号室</p>
    </div>
    <div class="phone-number">
      0120-3456-7890
    </div>
  </div>
</div>



