<div class="second-footer">
  <div class="sf-contents">
    <div class="sf-adresses">
      <div class ="adress">
        <p>福岡県西都市1-2-3</p>
        <p>〇〇ビル345号室</p>
      </div>
      <div class="phone-number">
        0120-3456-7890
      </div>
    </div>
    <div class="instagram">
      <%= image_tag '/images/Instagram_image.svg', class: "instagram-image" %>
      <%= image_tag '/images/Instagram_logo.svg', class: "instagram-logo" %>
    </div>
    <div class="sf-logo">
      <%= image_tag '/images/futaba_logo.png', class: 'logo' %>
    </div>
  </div>
</div>