<div class="second-header">
  <%# タイトル %>
  <div class="sh-wrap">
    <div class="top-wrap">
      <%= image_tag '/images/interior.jpg', class: 'top-img' %>
      <div class="top-contents">
        <div class="top-content">
          <p>気軽に立ち寄れるケーキ屋さん</p>
        </div>
        <div class="top-text">
          <p>前オーナーの思いを引き継ぎ、</p>
          <p>散歩がてらシュークリームを買いに行けるようなお店になれるよう、</p>
          <p>店主一人で元気に営業しております！</p>
        </div>
      </div>
    </div>
  </div>
      
  <%# ナビゲーション %>
  <div class="header-nav">
    <div class="nav-btns">
      <%= link_to '営業日', '/calendars', class:"nav-btn" %>
      <%= link_to '商品紹介', '#', class:"nav-btn" %>
      <%= link_to 'アクセス', '#', class:"nav-btn" %>
    </div>
  </div>

</div>