<div class="second-header">
  <%# タイトル %>
  <div class="title">
    <div class="title-box">
      <%= image_tag '/images/interior.jpg', class: 'top-img' %>
      <div class="title-contents">
        <div class="title-content">
          <p>気軽に立ち寄れるケーキ屋さん</p>
        </div>
        <div class="title-text">
          <p>テキスト</p>
          <p>テキスト</p>
        </div>
      </div>
    </div>
  </div>
      
  <%# ナビゲーション %>
  <div class="header-nav">
    <div class="nav-btns">
      <%= link_to '営業日', '/calendars', class:"nav-btn" %>
      <%= link_to '商品紹介', '#', class:"nav-btn" %>
      <%= link_to 'アクセス', '#', class:"nav-btn" %>
    </div>
  </div>

</div>